input[type=file].form-control-sm {
    padding-left: 0;
    display: none;
}

label {
    cursor: pointer;
    margin-bottom: 0 !important;
}

.fileDiv {
    padding-top: 0.5rem;
}

.fileDiv button {
    width: 45px;
    height: 45px;
}

.fileDiv p {
    margin: 0.5rem 0;
}